<form
  class="w-50 m-auto my-5"
  #productForm="ngForm"
  (ngSubmit)="submitProductForm(productForm)"
>
  <label for="inputEmail" class="form-label fs-5 fw-bold">Email</label>
  <input
    type="email"
    id="inputEmail"
    class="form-control py-2 fs-5"
    name="email"
    ngModel
    #email="ngModel"
    pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
    required
  />
  <div class="form-text" *ngIf="email.touched && email.invalid">
    <small class="text-danger" *ngIf="email?.errors?.['pattern']">
      Email is not valid
    </small>
    <small class="text-danger" *ngIf="email?.errors?.['required']">
      Email address is required
    </small>
  </div>

  <label for="inputPassword5" class="form-label mt-5 fs-5 fw-bold"
    >Password</label
  >
  <input
    type="password"
    id="inputPassword5"
    class="form-control fs-5"
    name="pass"
    ngModel
    #pass="ngModel"
    minlength="8"
    required
  />
  <div class="form-text" *ngIf="pass.touched && pass.invalid">
    <small class="text-danger" *ngIf="pass?.errors?.['required']"> Password is required </small>
    <small class="text-danger" *ngIf="pass?.errors?.['minlength']">
      Password must be 8 characters or more
    </small>
  </div>

  <button type="submit" class="btn btn-primary mt-5 mb-3 fs-5 px-5">
    Login
  </button>
  <div>
    Don't have an account?
    <a routerLink="../register">Register</a>
  </div>
</form>
