<!-- <p >shadwa {{ counter }}mohamed</p> -->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">name</th>
      <th scope="col">price</th>
      <th scope="col">Quantity</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let item of items">
      <!-- <app-cart-row [item]="item"></app-cart-row> -->
      <td>{{ item.item.title }}</td>
      <td>{{ item.item.category }}</td>
      <td>{{ item.item.price }}</td>

      <td><app-counter [item]="item"></app-counter></td>
      <td><button class="btn btn-dark">remove</button></td>
    </tr>
  </tbody>
</table>
